<ct-textfield #search
              (keyup)="searchByName(search.value)"></ct-textfield>
<ct-check-box
  [label]="'Prueba mensajes de uno en uno'"
  #multiple
  (click)="changeMultiple(multiple.control.value)"></ct-check-box>
<form [formGroup]="formGroup" [attr.id]="formId">
  <div class="form-row">
    <div class="col-md-12">
      <ct-textfield [label]="'Nombre completo'"
                    [placeHolder]="'Nombre completo de la persona'"
                    [hint]="'Hint de prueba'"
                    [formControlName]="'name'"></ct-textfield>
    </div>
    <div class="col-md-12">
      <ct-password [label]="'Escriba una contraseña'"
                   [placeHolder]="'No caracteres especiales'"
                   [formControlName]="'password'"></ct-password>
    </div>
    <div class="col-md-12">
      <ct-number-field [label]="'Edad'"
                       [placeHolder]="'0-99'"
                       [formControlName]="'age'"></ct-number-field>
    </div>
    <div class="col-md-12">
      <ct-date-picker [label]="'Fecha de nacimiento'"
                      [placeHolder]="'dd/mm/yyyy'"
                      [formControlName]="'birthday'"></ct-date-picker>
    </div>
    <div class="col-md-12">
      <ct-combo-box [label]="'Pais de nacimiento'"
                    [placeHolder]="'Seleccione un pais'"
                    [eqVal]="'id'"
                    [itemCaption]="'pais'"
                    [values]="paises"
                    [formControlName]="'country'"></ct-combo-box>
    </div>
    <div class="col-md-12">
      <ct-radio-button [label]="'Seleccione un genero'"
                       [placeHolder]="'Seleccione un genero'"
                       [itemCaption]="'nombre'"
                       [eqVal]="'id'"
                       [values]="generos"
                       [formControlName]="'gender'"></ct-radio-button>
    </div>
    <div class="col-md-12">
      <ct-textarea [label]="'Comentarios'"
                   [formControlName]="'comments'"></ct-textarea>
    </div>
    <div class="col-md-12">
      <ct-check-box [label]="'Acepto terminos y condiciones'"
                    [formControlName]="'terms'"></ct-check-box>
    </div>
  </div>
  <ct-button [type]="buttonType.PRIMARY" (click)="submit()">
    Guardar
  </ct-button>
  <button type="button" class="btn btn-secondary" (click)="clean()">
    Limpiar
  </button>
</form>
