<nav class="navbar navbar-expand-lg navbar-light sticky-top navbar-custom mb-4">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerPrincipal"
            aria-controls="navbarTogglerPrincipal" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerPrincipal">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">
            {{"Menu.home" | translate}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/form" routerLinkActive="active">
            {{"Menu.form" | translate}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/challenge" routerLinkActive="active">
            {{"Menu.challenge" | translate}}
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>

