.navbar-custom {
  background-color: hsl(214, 35%, 21%);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);

  .navbar-nav {
    .nav-link {
      text-transform: capitalize;
      color: rgba(190, 190, 190, 0.73);
      transition: border-bottom .2s, color .2s;
      border-bottom: 2px solid hsl(214, 35%, 21%);

      &:hover,
      &:focus {
        color: rgba(190, 190, 190, 0.73);
        border-bottom: 2px solid hsl(214, 35%, 21%);
      }

      &.active {
        color: #ffffff;
        border-bottom: 2px solid #ff0000;
      }
    }

    .nav-link {
      color: rgba(190, 190, 190, 0.73);
    }


    .nav-item {
      cursor: pointer;
    }

    .dropdown-menu {
      background-color: hsl(214, 35%, 21%);

      .dropdown-item {
        color: rgba(190, 190, 190, 0.73);

        &:hover,
        &:focus {
          background-color: hsl(214, 35%, 21%);
        }

        &.active {
          color: #ffffff;
          background-color: hsl(214, 35%, 21%);
          border-bottom: 2px solid #ff0000;
        }
      }
    }
  }
}
