<div class="container">
  <ct-check-box
    [label]="'Prueba mensajes de uno en uno'"
    [(ngModel)]="singleMessages"
    (change)="changeMultiple()"></ct-check-box>
  <form [formGroup]="formGroup" [attr.id]="formId">
    <div class="form-row">
      <div class="col-md-12">
        <ct-textfield [label]="'Nombre completo'"
                      [placeHolder]="'Nombre completo de la persona'"
                      [formControlName]="'name'"></ct-textfield>
      </div>
      <div class="col-md-12">
        <ct-password [label]="'Escibra una contraseña'"
                     [placeHolder]="'No caracteres especiales'"
                     [formControlName]="'password'"></ct-password>
      </div>
      <div class="col-md-12">
        <ct-date-picker [label]="'Fecha de nacimiento'"
                        [placeHolder]="'dd/mm/yyyy'"
                        [formControlName]="'birthday'"></ct-date-picker>
      </div>
      <div class="col-md-12">
        <ct-combo-box [label]="'Pais de nacimiento'"
                      [placeHolder]="'Seleccione un pais'"
                      [values]="paises"
                      [formControlName]="'country'"></ct-combo-box>
      </div>
      <div class="col-md-12">
        <ct-radio-button [label]="'Seleccione un genero'"
                         [placeHolder]="'Seleccione un genero'"
                         [values]="generos"
                         [formControlName]="'gender'"></ct-radio-button>
      </div>
      <div class="col-md-12">
        <ct-select-twin [label]="'Pasatiempos'"
                        [rightLabel]="'Seleccionados'"
                        [values]="hobbies"
                        [formControlName]="'hobbies'"></ct-select-twin>
      </div>
      <div class="col-md-12">
        <ct-textarea [label]="'Comentarios'"
                     [formControlName]="'comments'"></ct-textarea>
      </div>
      <div class="col-md-12">
        <ct-check-box [label]="'Acepto terminos y condiciones'"
                      [formControlName]="'terms'"></ct-check-box>
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="submit()">
      Guardar
    </button>
    <button type="button" class="btn btn-secondary" (click)="clean()">
      Limpiar
    </button>
  </form>
</div>
