<div class="container">

  <div class="card">
    <div class="card-body">

      <h1 class="text-primary">
        cdelateja Angular
      </h1>

      <h3>
        Descripción
      </h3>
      <p>
        Libreria interna de LegoSoft para aplicaciones web echas en Angular.
      </p>

      <hr>

      <h3>
        Formulario básico
      </h3>
      <p>
        El cdelateja cuenta con una clase que es capaz de validar un formulario. Además cuenta con componentes que se
        integran
        con la clase para una mejor funcionalidad. Un componente puede tener varias validaciones y por lo tanto puede
        mostrar todos los errores a la vez.
      </p>
      <app-basic-form></app-basic-form>


<!--      <hr>-->

<!--      <h3>-->
<!--        Formulario dynamico-->
<!--      </h3>-->
<!--      <p>-->
<!--        El cdelateja cuenta con una funcionalidad que es capaz de generar formularios por medio de un JSON-->
<!--      </p>-->
<!--      <app-dynamic-form></app-dynamic-form>-->


      <hr>

      <h3>
        Login genérico
      </h3>
      <p>
        El cdelateja cuenta con una clase para construir un formulario de autenticación.
      </p>
      <app-login-form></app-login-form>

      <hr>

<!--      <h3>
        Peticiones Http
      </h3>
      <p>
        El cdelateja cuenta con una clase la cual resuelve peticiones Http
      </p>
      <app-petitions></app-petitions>-->
    </div>
  </div>
</div>
